{% extends 'main.html' %}

{% block content %}
<h1>mmmm bjór</h1>

<div class="btn-group">
    <a class="btn" href="/beer/add">Skrá nýjan bjór</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Nafn</td>
            <td>Verð</td>
        </tr>
    </thead>
    <tbody>
    {% for beer in beers %}
            <tr>
                <td>{{ beer.name }}</td>
                <td>{{ beer.price }} ISK</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}