{% extends 'main.html' %}

{% block content %}
<h1>Lagerinn</h1>

<div class="btn-group">
    <a class="btn" href="{{url_for('beer_add')}}">Skrá nýjan bjór</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Nafn</td>
            <td>Verð</td>
        </tr>
    </thead>
    <tbody>
    {% for beer in beers %}
            <tr>
                <td>{{ beer.name }}</td>
                <td>{{ beer.price }} ISK</td>
                <td>
                    <a href="{{url_for('beer_transaction', beer_id=beer.id)}}" class="btn btn-mini">Skrá þennan</a>
                    
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}