<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Nafn</th>
        <th>Verð</th>
        <th>Vínandi</th>
        <th>Magn</th>
        <th>Orka</th>
    </tr>
    </thead>
    <tbody>
    {% for beer in beers %}
    <tr>
        <td>

            {% if beer.image_url %}<a href="#beer-{{beer.id}}" data-toggle="modal"><img src="{{ beer.image_url }}" height="20"></a>{% endif %}
        </td>
        <td><a href="#beer-{{beer.id}}" data-toggle="modal">{{ beer.name }}</a></td>
        <td>{% if beer.price %}{{ beer.price }} ISK{% endif %}</td>
        <td>{% if beer.alcohol %}{{ beer.alcohol or '0' }}%{% endif %}</td>
        <td>{% if beer.volume %}{{ beer.volume or '-' }} ml{% endif %}</td>
        <td>{% if beer.joules %}{{ beer.joules|round|int }} kJ{% endif %}</td>
        <td>
            <a href="{{url_for('beer_transaction', beer_id=beer.id)}}" class="btn btn-mini btn-primary"><span class="icon-arrow-right"></span> Bókfæra</a>

        </td>
    </tr>
    {% endfor %}
    {% for beer in beers %}
    <div class="modal hide" id="beer-{{beer.id}}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{{beer.name}} - {{beer.price}} ISK</h3>
        </div>
        <div class="modal-body">
            <p align="center">{% if beer.image_url %}<img src="{{ beer.image_url }}" height="365px">{% else %}Engin mynd =/{% endif %}</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Loka</a>
            <a href="{{url_for('beer_edit', beer_id=beer.id)}}" class="btn"><span class="icon-cog"></span> Breyta</a>
            <a href="{{url_for('beer_transaction', beer_id=beer.id)}}" class="btn btn-primary"><span class="icon-arrow-right"></span> Bókfæra</a>
        </div>

    </div>
    {% endfor %}
    </tbody>
</table>