{% extends 'main.html' %}

{% block content %}
<h1>Lagerinn</h1>

    {% with %}
        {% set beers = beers %}
        {% include 'beer_table_snippet.html' %}
    {% endwith %}
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Meira
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
                <h2>Úrelt og snargalið</h2>
                {% with %}
                {% set beers = beers_inactive %}
                {% include 'beer_table_snippet.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}{