{% extends 'main.html' %}

{% block content %}
<h1>Lagerinn</h1>

<div class="btn-group">
    <a class="btn" href="{{url_for('beer_add')}}">Skrá nýjan bjór</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Nafn</td>
            <td>Verð</td>
        </tr>
    </thead>
    <tbody>
    {% for beer in beers %}
            <tr>
                <td>

                    {% if beer.image_url %}<a href="#beer-{{beer.id}}" data-toggle="modal"><img src="{{ beer.image_url }}" height="50"></a>{% endif %}
                </td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.price }} ISK</td>
                <td>
                    <a href="{{url_for('beer_transaction', beer_id=beer.id)}}" class="btn btn-mini">Skrá þennan</a>
                    
                </td>
            </tr>
    {% endfor %}
    {% for beer in beers %}
    <div class="modal hide" id="beer-{{beer.id}}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{{beer.name}} - {{beer.price}} ISK</h3>
        </div>
        <div class="modal-body">
            <p>{% if beer.image_url %}<img src="{{ beer.image_url }}">{% endif %}</p>
        </div>
    </div>
    {% endfor %}
    </tbody>
</table>
{% endblock %}