<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sambandið - Hið frjálsa bjórvinafélag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
    </style>

    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">Sambandið</a>
            <div class="btn-group pull-right">
                {% if session.user %}
                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ session.user.name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('transactions')}}">Minn reikningur</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('logout')}}">Útskrá</a></li>
                </ul>
                {% else %}
                <a class="btn btn-primary" href="{{url_for('login')}}" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Smelltu til að innskrá þig með Fésbókinni
                </a>
                {% endif %}
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{{url_for('beers')}}">Bjór!</a></li>
                    <li><a href="{{url_for('transaction_add')}}">Bókfæra</a></li>
                    <li><a href="{{url_for('transactions')}}">Minn reikningur</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Umsýslan</a>
                        <ul class="dropdown-menu">
                            <li><a class="" href="{{url_for('beer_add')}}">Skrá bjór</a></li>
                            <li><a class="" href="{{url_for('transactionview.index_view')}}"><span class="icon-wrench"></span> Bókhaldið</a></li>
                            <li><a class="" href="{{url_for('userview.index_view')}}"><span class="icon-wrench"></span> Notendur</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    <div class="span8">
        <h1>Velkominn á vef Sambandsins</h1>
        <p>Hér eru allir vinir. Ekki með aðgang? Skráðu þig! Áttu engan pening? Við lánum þér!</p>

        {% if user %}
            {% include 'user_workspace.html' %}
        {% endif %}

        <h2>Stjörnusambandsstöð</h2>
        <object width="460" height="100"><param name="movie" value="http://www.gogoyoko.com/object/widget_player.swf?songId=84759" /><param name="allowscriptaccess" value="always" /><embed src="http://www.gogoyoko.com/object/widget_player.swf?songId=84759" type="application/x-shockwave-flash" allowscriptaccess="always" width="460" height="100" /></object>
    </div>
    <div class="span2">
        <img src="{{ url_for('static', filename="img/sambandid.png") }}" width="200"/>
    </div>
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>
</body>
</html>
