{% extends 'main.html' %}

{% block content %}
<h1>Sambandsstöðurnar</h1>
<div class="alert alert-info">
    Heildarstaða sambandsins er {{status_sum}} SKR
</div>
<h2>Agi verður að vera!</h2>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Nafn</th>
        <th>Sambandsstaða</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    {% with %}
    {% set s = user.account_status %}
    <tr>
        <td>
            {{ user }}
        </td>
        <td>
            <span class="pull-right">
               {% if s %}
                    {{ user.account_status }} SKR
                {% else %}
                    -
                {% endif %}
            </span>
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}