<table class="table table-striped">
    <thead>
    <tr>
        <th>Dagsetning</th>
        <th>Skráð á</th>
        <th>Skráð af</th>
        <th>Upphæð</th>
        <th>Athugasemd</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.transaction_date|datetimeformat }}</td>
        <td>{{ transaction.user }}</td>
        <td>{{ transaction.registered_by }}</td>
        <td>{{ transaction.amount }} ISK</td>
        <td>{{ transaction.beer or '' }} {{ transaction.comment or '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>