{% extends 'main.html' %}
{% from "_forms.html" import render_field %}

{% block content %}
<h1>Heiðarlega skal fært til bókar</h1>
<div class="span5">
    <h2>Úttektir</h2>
    <form method="post" action="{{url_for('transaction_add')}}" class="well">
        {{ render_field(beer_form.user) }}
        {{ render_field(beer_form.beer) }}
        {{ render_field(beer_form.quantity) }}
        <p><button type="submit" name="beer" data-loading-text="augnablik..." class="btn  btn-primary"><span class="icon-ok"></span> Skrá drykkju</button></p>
    </form>
</div>
{% if deposit_form %}
<div class="span5">
    <h2>Innlegg</h2>
    <form method="post" action="{{url_for('transaction_add')}}" class="well">
        {{ render_field(deposit_form.user) }}
        {{ render_field(deposit_form.amount, 'ISK') }}
        {{ render_field(deposit_form.comment) }}
        <p><button type="submit" data-loading-text="augnablik..." class="btn btn-primary" name="deposit"><span class="icon-ok"></span> Skrá greiðslu</button></p>
    </form>
</div>
{% endif %}
{% endblock %}