<h2>Færslur sem ég hef skráð</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>Dagsetning</td>
        <td>Skráð á</td>
        <td>Skráð af</td>
        <td>Upphæð</td>
        <td>Bjór</td>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.transaction_date }}</td>
        <td>{{ transaction.user }}</td>
        <td>{{ transaction.registered_by }}</td>
        <td>{{ transaction.amount }} ISK</td>
        <td>{{ transaction.beer }} ISK</td>
    </tr>
    {% endfor %}
    </tbody>
</table>